.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 60px 1fr 50px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
  color: var(--custom-dark-gray);
  /* line-height: 1.4; */
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  .page {
    --custom-dark-gray: white;
  }
}

.main {
  background-color: white;
  border-radius: 16px;
  box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 30%);
  padding: 48px 24px 24px 24px;
  width: 100%;
  max-width: 1280px;
}

.main > div{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main h1 {
  font-size: 1.8rem;
  margin: 0;
}

.main p,
.main span {
  font-size: 1rem;
  line-height: 24px;
}

.footer {
  background-color: var(--custom-dark-gray);
  color: white;
  grid-row-start: 3;
  display: flex;
  font-size: 0.8rem;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 0 20px;
}

.footer > div {
  margin: auto;
}

@media screen and (max-width: 600px) {
  .page {
    gap: 16px;
  }
  .main {
    box-shadow: none;
    padding: 18px;
    margin-top: 0;
  }
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
