.filter {
    padding: 16px 0;
}
.filter button {
    background-color: var(--custom-orange);
    text-align: center;
    text-decoration: none;
    font-family: var(--font-roboto-flex);
    appearance: none;
    border-radius: 128px;
    height: 48px;
    padding: 0 20px;
    border: 1px solid transparent;
    transition:
        background-color 0.2s,
        color 0.2s,
        border-color 0.2s;
    cursor: pointer;
    font-size: 18px;
    color: white;
    margin-right: auto;
}

.filter input[type=text],
.filter select {
    width: 100%;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--custom-dark-gray);
    font-size: 1rem;
    line-height: 24px;
    height: 50px;
}

.filter input[type=text] {
    padding: 12px 20px;
}

.filter input[type=text]:-webkit-autofill,
.filter input[type=text]:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

.filter select {
    padding: 14px 20px;
}

.filter .row {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2fr 1fr 1fr;
}

.filter .row .col {
    display: flex;
    flex-direction: column;
}

.filter .row .col .submit {
    margin-top: auto;
}

@media screen and (max-width: 600px) {
    .filter {
        padding: 0;
    }
    .filter .row {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .filter .row .col .submit {
        margin-left: auto;
    }
}

@media (hover: hover) and (pointer: fine) {
    .filter button:hover {
        background-color: var(--custom-yellow);
        border-color: transparent;
    }
}