.pagination {
  display:flex;
  flex-direction: row;

  text-align: right;
  text-decoration: none;
  font-size: 1rem;
  line-height: 24px;
}

.pagination .info {
  padding: 8px 0;
  margin-right: auto;
}

.pagination .controls {
  margin-left: auto;
}

.pagination button {
  font-family: var(--font-geist-sans);
  color: var(--custom-dark-gray);
  font-size: 1rem;
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.pagination button:disabled {
  color: #ddd;
}

@media screen and (max-width: 600px) {
  .pagination {
    display:flex;
    flex-direction: column;
  }

  .pagination .info {
    padding: 0;
    margin-right: 0;
  }

  .pagination .info > span {
    font-size: .8em;
  }

  .pagination .controls {
    margin: auto;
  }

  .pagination button {
    padding: 8px 8px;
    font-size: .8em;
  }
}