.result {
    overflow-x: auto;
}
.result table {
    display: block;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 1200px;
    table-layout: auto;
    height: 550px;
}

.result table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.result table tr {
    background-color: white;
    /* border: 1px solid #ddd; */
    /* padding: .35em; */
}

.result table th,
.result table td {
    padding: 6px 20px 6px 30px;
    text-align: left;
    border-bottom: 1px solid #f2f2f2;
}

.result table th {
    /* begin fixed header */
    position: sticky;
    top: 0;
    z-index: 1;
    /* end fixed header */
    border-top: 1px solid var(--custom-yellow);
    background: var(--custom-yellow);
    color: #fff;
    line-height: 2;
}

/* .result table th:first-child {
    border-top-left-radius: 10px;
}

.result table th:last-child {
    border-top-right-radius: 10px;
} */

.result table td:first-child {
    border-left: 1px solid var(--custom-yellow);
}

.result table td:last-child {
    border-right: 1px solid var(--custom-yellow);
}

.result table tr:last-child td {
    border-bottom: 1px solid var(--custom-yellow);
}


@media screen and (max-width: 600px) {
    .result table {
        border: 0;
    }

    .result table caption {
        font-size: 1.3em;
    }

    .result table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .result table tr {
        border-radius: 10px;
        border: 1px solid #ddd;
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .8em;
    }

    .result table td {
        padding: 6px;
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .result table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .result table td:last-child {
        border-bottom: 0;
    }

    .result table td:first-child {
        border-left: 1px solid #f2f2f2;
    }
    
    .result table td:last-child {
        border-right: 1px solid #f2f2f2;
    }
    
    .result table tr:last-child td {
        border-bottom: 1px solid #f2f2f2;
    }
}