.result {
    overflow-x: auto;
    border-bottom: 1px solid var(--custom-ultra-light-gray);
}
.result table {
    display: block;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    table-layout: auto;
    height: 550px;
}

.result table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.result table tbody tr {
    background-color: white;
}

.result table th,
.result table td {
    padding: 6px 20px 6px 20px;
    text-align: left;
    border-bottom: 1px solid var(--custom-ultra-light-gray);
}

.result table th {
    border: 1px solid var(--custom-yellow);
}

.result table .cellid{
    min-width: 90px;
}

.result table .cellname{
    min-width: 240px;
}

.result table .cellstatus{
    min-width: 140px;
}

.result table .celldelta{
    min-width: 80px;
}

.result table .cellcreatedon{
    min-width: 220px;
    white-space: nowrap;
}

.result table thead {
    /* begin fixed header */
    position: sticky;
    top: 0;
    z-index: 1;
    /* end fixed header */
    border: 1px solid var(--custom-yellow);
    background: var(--custom-yellow);
    color: white;
    line-height: 2;
}

.result table td:first-child {
    border-left: 1px solid var(--custom-yellow);
}

.result table td:last-child {
    border-right: 1px solid var(--custom-yellow);
}

.result table tr:last-child td {
    border-bottom: 1px solid var(--custom-yellow);
}

.result table .sort > div {
    display: flex;
}

.result table .sort span {
    white-space: nowrap;
}

.result table .symbol {
    color: #8f8c8b;
    padding-left: 5px;
}

.result .resultinfo {
    padding: 12px 20px;
    border: 1px solid #ccc;
    background: #ffe596;
}


@media screen and (max-width: 600px) {
    .result {
        border: 1px solid var(--custom-ultra-light-gray);
        border-radius: 10px;
    }
    .result table {
        border: 0;
        width: 100%;
        height: 300px;
    }

    .result table caption {
        font-size: 1.3em;
    }

    .result table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .result table tr {
        border-radius: 10px;
        border: 1px solid var(--custom-light-gray);
        border-bottom: 3px solid var(--custom-light-gray);
        display: block;
        margin-bottom: .8em;
    }

    .result table td {
        padding: 6px;
        border-bottom: 1px solid var(--custom-light-gray);
        display: block;
        font-size: .8em;
        text-align: right;
        min-height: 30px;
    }

    .result table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .result table td:last-child {
        border-bottom: 0;
    }

    .result table td:first-child {
        border-left: 1px solid var(--custom-ultra-light-gray);
    }
    
    .result table td:last-child {
        border-right: 1px solid var(--custom-ultra-light-gray);
    }
    
    .result table tr:last-child td {
        border-bottom: 1px solid var(--custom-ultra-light-gray);
    }
}